.droplist {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 0;
}
.droplist__el {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.droplist__el:nth-child(n):not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.droplist__el:hover {
  background-color: #e2e2e2;
}
.card {
  padding-bottom: 10px;
}
